.u-section-1 .u-sheet-1 {
  min-height: 1118px;
}

.u-section-1 .u-text-1 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  margin: 33px auto 0;
}

.u-section-1 .u-text-2 {
  width: 689px;
  margin: 32px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-1 {
  width: 1127px;
  grid-template-rows: auto auto auto;
  margin: 35px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 6px) calc(50% - 6px);
  min-height: 508px;
  grid-gap: 12px 12px;
}

.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("Site1/container");
  background-size: cover, cover;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 279px;
  min-height: 260px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 32px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 1px 0;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/container_low-poly-t-rex-3d-printing-26050.jfif");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 279px;
  min-height: 260px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 29px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 32px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 168px 0 1px;
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/container_pen-stand-3d-printing-23515.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-group-3 {
  width: 279px;
  min-height: 260px;
  background-size: auto;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 29px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 32px auto 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 168px 0 1px;
}

.u-section-1 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/container_thin-man-part-ii-3d-printing-26562.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-group-4 {
  width: 279px;
  min-height: 260px;
  background-size: auto;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 29px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 32px auto 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 168px 0 1px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 6px));
    min-height: 424px;
  }

  .u-section-1 .u-image-3 {
    background-size: cover, cover;
  }

  .u-section-1 .u-image-4 {
    background-size: cover, cover;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    background-position: 73.87% 50%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    background-position: 88.18% 50%;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 215px;
  }

  .u-section-1 .u-group-2 {
    width: 215px;
  }

  .u-section-1 .u-group-3 {
    width: 215px;
  }

  .u-section-1 .u-group-4 {
    width: 215px;
  }
}