   .u-section-1 {
  background-image: linear-gradient(white, #b3b3b3);
}

.u-section-1 .u-sheet-1 {
  min-height: 540px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 8px -15px 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 555px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 185px;
  height: 185px;
  background-image: url("images/photo_2022-01-01_14-48-50.jpg");
  background-position: 50% 0%;
  margin: 0 auto 0 0;
  position:relative;
}
.block{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    background:rgba(255,255,255, 0.7);
     padding:20px;
    display:none;
}

.u-image-1:hover .block{
    display:block;
}

.u-section-1 .u-image-2 {
  width: 185px;
  height: 185px;
  background-image: url("images/photo_2022-01-01_04-08-35.jpg");
  background-position: 50% 50%;
  margin: -3px 7px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 185px;
  height: 185px;
  background-image: url("images/photo_2021-11-12_01-49-04.jpg");
  background-position: 50% 50%;
  margin: -21px auto 0 0;
}
 

.u-section-1 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 351px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 687px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 433px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
  }



.u-section-1 .u-sheet-1 {
  min-height: 100px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 100;
  background-image: none;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-1 .u-accordion-1 {
  margin-bottom: 60px;
  margin-top: 30px;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  font-weight: 100;
  padding: 25px 30px;
}

.u-section-1 .u-icon-1 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-1 .u-accordion-link-2 {
  background-image: none;
  font-weight: 100;
  padding: 25px 30px;
}

.u-section-1 .u-icon-2 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 50px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-accordion-link-3 {
  background-image: none;
  font-weight: 100;
  padding: 25px 30px;
}

.u-section-1 .u-icon-3 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 50px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 180px) {
  .u-section-1 .u-text-2 {
    width: 120px;
  }
}

@media (max-width: 150px) {
  .u-section-1 .u-text-2 {
    width: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 120px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}
}